
body{
    background-color: rgb(155, 93, 212);
}
 .div{
    display: grid;
    justify-content: center;
    margin: 10px;
    height: 15px;
}
.row{
    display: grid;
    justify-content: center;
    height: 600px;
    margin-top: 10px;
    padding-top:10px;
    background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

div .button{
    display: grid;
    justify-content: center;
    color: rgb(51, 19, 82);    
}
.carte{        
    margin: 10px;
    border-color: rgb(24, 18, 29);
    border: 5px;
}