{% extends "base.html.twig" %}

{% block body %}
    
        <div class="col-12 div">
            <div class="row">
                {{form_start(form)}}
                {# {{form_widget(form)}} #}
                <div class="form-group form-control-lg">
                    {{form_row(form.titre)}}
                </div>

                <div class="form-group form-control-lg">
                    {{form_row(form.sujet)}}
                </div>

                <div class="form-group form-control-lg">
                    {{form_row(form.text)}}
                </div>

                <div class="form-group form-control-lg">
                    {{form_row(form.auteur)}}
                </div>

                <div class="form-group form-control-lg">
                    {{form_row(form.date)}}
                </div>

                <div class="button">
                <button class="btn btn-light">Ajouter</button>
                </div>
                {{form_end(form)}}
            </div>
        </div>
{% endblock %}