{% block footer %}
    <footer style="position: fixed; width: 100%; bottom: 10px;border-top: 3px solid rgb(90, 10, 63); height:50px;">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </footer>
    {% endblock %}