
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('blog') }}">Acceuil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('show_carroussel') }}">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{path('show_all')}}">Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </nav>