{% extends "base.html.twig" %}

{% block body %}

{% for row in art %}
<div class="card border-secondary mb-3 carte" style="max-width: 18rem;">
    <div class="card-header" {{row.sujet}}></div>
    <div class="card-body text-secondary">

        <h5 class="card-title">{{row.titre}}</h5>
        <p>{{row.sujet}}</p>
        <p>{{row.text}}</p>
        <p>{{row.date}}</p>
        <p>{{row.auteur}}</p>
        <a class="btn btn-secondary" href="{{path('show_one',{id:row.id})}}">Show</a>
           
    </div>
</div>
</div>
{% endfor %}

{% endblock %}