{% extends "base.html.twig" %}
{% block body %}

<a class="btn btn-primary" href="{{ path('show_all') }}">Retour</a>

 {% if art is not null %} 

<h5 class="card-title">{{art.titre}}</h5>
<p>{{art.sujet}}</p>
<p>{{art.text}}</p>
<p>{{art.date}}</p>
<p>{{art.auteur}}</p>
<a class="btn btn-danger" href="{{path('delete',{id:art.id})}}">Supprimer</a>
<a class="btn btn-success" href="{{path('modifier',{id:art.id})}}">Modifier</a>

 {% endif %} 

{% endblock body %}